<div fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="video" class="control controlRow" (click)="onMuteToggle()">
    <div *ngIf="isMuted(); else muteElseBlock">
      <i class="fa fa-volume-off" aria-hidden="true"></i>
    </div>
    <ng-template #muteElseBlock><i class="fa fa-volume-up" aria-hidden="true"></i></ng-template>
  </div>
  <div class="controlRow" fxLayout="row" fxLayoutAlign="center center">
    <div class="control" (click)="onSkipBackward()"><i class="fa fa-step-backward" aria-hidden="true"></i></div>
    <div class="control" (click)="onClickPlay()">
      <div *ngIf="playState==='paused'; else elseBlock">
        <i class="fa fa-play-circle" aria-hidden="true"></i>
      </div>
      <ng-template #elseBlock><i class="fa fa-pause-circle" aria-hidden="true"></i></ng-template>
    </div>
    <div class="control" (click)="onSkipForward()"><i class="fa fa-step-forward" aria-hidden="true"></i></div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngFor="let sound of sounds; let i = index" class="control" (click)="onSelectSound(sound, i)">
      {{sound}}
    </div>
  </div>
  <iframe src="https://discordapp.com/widget?id=324076161237909506&theme=dark" width="350" height="500" allowtransparency="true"
    frameborder="0"></iframe>
</div>