.control {
    background-color: #e04038;
    color: #fff;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 24px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: -0.02em;

    margin: 20px;
	padding: 0px 20px;

	cursor: pointer;
	user-select: none;
}

.control:active {
	animation-duration: .1s;
	animation-name: growHorizontal;
	animation-direction: alternate;
}

@keyframes growHorizontal {
	from {
		background-color: #e04038;
		color: #fff;
		border: 1px sollid #e04038;
		margin: 0px 20px;
	}


	to {
	background-color: #fff;
	color: #e04038;
	border: 1px sollid #e04038;
	margin: 0px 40px;

	}
}

.controlRow {
	min-width: 250px;
}
